#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// ---------------------------------------------------
// | S | T | P | H | * |     | * | F | P | L | T | D |
// | S | K | W | R | * |     | * | R | B | G | S | Z |
//         | # | A | O |     | E | U | # |

            bindings = <
                &kp Q  &kp W  &kp E  &kp R  &kp N1      &kp N2 &kp T  &kp Y  &kp U  &kp I  &kp O
                &kp A  &kp S  &kp D  &kp F  &kp N3      &kp N4 &kp G  &kp H  &kp J  &kp K  &kp L
                              &kp X  &kp C  &kp V       &kp B  &kp N  &kp M
            >;
        };
    };
};
