#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0

/ {
    combos {
        compatible = "zmk,combos";
        combo_bt_clr {
            timeout-ms = <100>;
            key-positions = <10 25 26 27>; // all three right thumb buttons + [
            bindings = <&bt BT_CLR>;
        },
        combo_bt1 {
            timeout-ms = <100>;
            key-positions = <0 25 26 27>; // all three right thumb buttons + Q
            bindings = <&bt BT_SEL 1>;
        },
        combo_bt2 {
            timeout-ms = <100>;
            key-positions = <1 25 26 27>; // all three right thumb buttons + W
            bindings = <&bt BT_SEL 2>;
        },
        combo_bt3 {
            timeout-ms = <100>;
            key-positions = <2 25 26 27>; // all three right thumb buttons + E
            bindings = <&bt BT_SEL 3>;
        },
        combo_bt4 {
            timeout-ms = <100>;
            key-positions = <3 25 26 27>; // all three right thumb buttons + R
            bindings = <&bt BT_SEL 4>;
        },
        combo_bt5 {
            timeout-ms = <100>;
            key-positions = <4 25 26 27>; // all three right thumb buttons + T
            bindings = <&bt BT_SEL 5>;
        };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// ---------------------------------------------------
// | S | T | P | H | * |     | * | F | P | L | T | D |
// | S | K | W | R | * |     | * | R | B | G | S | Z |
//         | # | A | O |     | E | U | # |

            bindings = <
                &kp Q    &kp W    &kp E    &kp R    &kp T       &kp Y    &kp U    &kp I    &kp O    &kp P    &kp LBKT
                &kp A    &kp S    &kp D    &kp F    &kp G       &kp H    &kp J    &kp K    &kp L    &kp SEMI &kp APOS
                                  &kp X    &kp C    &kp V       &kp N    &kp M    &kp SPACE
            >;
        };
    };
};
